<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
  <h3>Please Log in to continue</h3>

  <mat-raised-button (click)="signInWithGoogle()">
    <i class="fab fa-google"></i> Connect Google
  </mat-raised-button>
  <br />
  <br />
  <mat-raised-button (click)="signInWithGithub()" disabled>
    <i class="fab fa-github"></i> Coming Soon - Connect with GitHub
  </mat-raised-button>
</div>

<ng-template #alreadyLoggedIn>
  <p>Hello, "insert logged in users name here"!</p>
  <!-- <p>Hello, {{ user.displayName }}!</p> -->
</ng-template>
