<mat-toolbar color="primary">
  <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/add-snippet">
    <i class="material-icons"> add_circle_outline </i> Add a Snippet Collection
  </button>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/About">About</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/profile">Profile</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/about-us">About</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button mat-menu-item routerLink="/profile">Profile</button>
  <button mat-menu-item (click)="signOut()" *ngIf="(user | async)">Sign Out</button>
</mat-menu>
