<!-- <mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
    <span class="toolbar-title">Logo</span>
    <span ml-6 class="nav-link" routerLink="/about-us">About Us</span>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/About">About</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/account">Account</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/about-us">About</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button mat-menu-item routerLink="/account">Account</button>
  <button mat-menu-item (click)="signOut()" *ngIf="(user | async)">Sign Out</button>
</mat-menu>
