<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">af-snippet</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about-us">About Us</a></li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">af-snippet</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".dual-collapse2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-4"><a routerLink="/add-snippet">Add Snippet</a></li>
      <li class="nav-item mr-4"><a routerLink="/account">Account</a></li>
      <li class="nav-item">
        <a><button (click)="auth.signOut()" *ngIf="(auth.user | async)">Sign Out</button></a>
      </li>
    </ul>
  </div>
</nav>
