<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><strong>Add Snippet</strong></h2>

      <!-- <form (ngSubmit)="onSubmit()" class="col s6">
        <br />
        <label>Title</label> <input [(ngModel)]="item.snippetTitle" name="Snippet Title" /> <br />
        <label>Language</label>
        <input [(ngModel)]="item.snippetLanguage" name="Snippet Language" /> <br />
        <br />
        <input
          [(ngModel)]="item.snippetText"
          name="Snippet Text"
          ace-editor
          [(text)]="text"
          [mode]="'sql'"
          [theme]="'eclipse'"
          [options]="options"
          [readOnly]="false"
          [autoUpdateContent]="true"
          [durationBeforeCallback]="1000"
          (textChanged)="onChange($event)"
          style="min-height: 200px; width:100%; overflow: auto;"
        />
        <br />
        <label>Date</label>
        <input type="date" [(ngModel)]="item.snippetCreatedDate" name="Snippet Created Date" />
        <br />
        <label>Tags</label> <input [(ngModel)]="item.snippetTags" name="Snippet Tags" /> <br />
        <input type="submit" value="Submit" class="btn" />
      </form> -->

      <form [formGroup]="myForm">
        Value: {{ myForm.value | json }}

        <hr />

        <mat-form-field class="full">
          <input matInput placeholder="email" formControlName="email" />
        </mat-form-field>

        <div formArrayName="phones">
          <div *ngFor="let phone of phoneForms.controls; let i = index" [formGroupName]="i">
            <mat-form-field class="xs">
              <input matInput placeholder="area" formControlName="area" />
            </mat-form-field>

            <mat-form-field class="xs">
              <input matInput placeholder="prefix" formControlName="prefix" />
            </mat-form-field>

            <mat-form-field class="sm">
              <input matInput placeholder="line" formControlName="line" />
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deletePhone()">Delete</button>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="addPhone()">Add Phone Number</button>
      </form>
    </div>
  </div>
</div>
