<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><strong>Add Snippet</strong></h2>
      <br />
      <!-- <form (ngSubmit)="onSubmit()" class="col s6">
        <br />
        <label>Title</label> <input [(ngModel)]="item.snippetTitle" name="Snippet Title" /> <br />
        <label>Language</label>
        <input [(ngModel)]="item.snippetLanguage" name="Snippet Language" /> <br />
        <br />
        <br />
        <label>Date</label>
        <input type="date" [(ngModel)]="item.snippetCreatedDate" name="Snippet Created Date" />
        <br />
        <label>Tags</label> <input [(ngModel)]="item.snippetTags" name="Snippet Tags" /> <br />
        <input type="submit" value="Submit" class="btn" />
      </form> -->

      <form [formGroup]="myForm">
        <mat-form-field class="full">
          <input matInput placeholder="Type in Snippet Title" formControlName="email" />
        </mat-form-field>
        <br />
        <br />

        <p>Beginner</p>
        <ace-editor [(text)]="text" style="height:150px;"></ace-editor>
        <br />
        <mat-form-field class="full">
          <input matInput placeholder="Stackblitz URL" formControlName="stackblitzBeginnerUrl" />
        </mat-form-field>
        <!-- https://stackblitz.com/edit/angular-czmxfp -->
        <br />
        <br />

        <p>Expert</p>
        <ace-editor [(text)]="text" style="height:150px;"></ace-editor>
        <br />
        <mat-form-field class="full">
          <input matInput placeholder="Stackblitz URL" formControlName="stackblitzExpertUrl" />
        </mat-form-field>
        <br />
        <br />

        <p>Common Practice</p>
        <ace-editor [(text)]="text" style="min-height:150px; min-width:150px;"></ace-editor>
        <br />
        <mat-form-field class="full">
          <input
            matInput
            placeholder="Stackblitz URL"
            formControlName="stackblitzCommonPracticeUrl"
          />
        </mat-form-field>
        <br />
        <br />

        <p>Related Resources</p>
      </form>
    </div>
  </div>
</div>
