<div class="container">
  <div class="row">
    <div class="col-12">
      <br />
      <h2><strong>Add a Snippet Collection</strong></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <br />

      <!-- <div [ngSwitch]="state || null"> -->
      <div *ngIf="state === 'synced'" class="notification is-success">
        Form is synced with Firestore
      </div>

      <div *ngIf="state === 'modified'" class="notification is-warning">
        Form has unsaved changes
      </div>
      <!-- Getting an ERROR Error: ExpressionChangedAfterItHasBeenCheckedError -->
      <div *ngIf="state === 'loading'" class="notification is-info">Form data is preloading</div>
      <div *ngIf="state === 'error'" class="notification is-danger">
        Form tried and failed to save to Firestore
      </div>
      <!-- </div> -->

      <hr />

      <br />

      Form Data: {{ addSnippetForm.value | json }}

      <br />

      <hr />
      <form
        [formGroup]="addSnippetForm"
        [hidden]="success"
        fireForm
        path="snippets"
        (stateChange)="changeHandler($event)"
      >
        <mat-form-field class="full-width">
          <input
            matInput
            #message
            maxlength="500"
            placeholder="Title"
            formControlName="snippetTitle"
          />
          <mat-hint align="start"><strong>i.e. Reactive Forms in Angular 7</strong> </mat-hint>
          <mat-hint align="end">{{ message.value.length }} / 500</mat-hint>
        </mat-form-field>
        <br />
        <br />

        <p>Beginner</p>
        <app-ace-editor></app-ace-editor>
        <br />
        <mat-form-field class="full-width">
          <input matInput placeholder="Beginner Demo URL" formControlName="stackblitzBeginnerUrl" />
          <mat-hint align="start"
            ><strong>i.e. https://stackblitz.com/edit/angular-lirkte</strong>
          </mat-hint>
        </mat-form-field>
        <br />
        <br />

        <p>Expert</p>
        <app-ace-editor></app-ace-editor>
        <br />
        <mat-form-field class="full-width">
          <input matInput placeholder="Expert Demo URL" formControlName="stackblitzExpertUrl" />
          <mat-hint align="start"
            ><strong>i.e. https://stackblitz.com/edit/angular-lirkte</strong>
          </mat-hint>
        </mat-form-field>
        <br />
        <br />

        <p>Common Practice</p>
        <app-ace-editor></app-ace-editor>

        <br />
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Common Practice Demo URL"
            formControlName="stackblitzCommonPracticeUrl"
          />
          <mat-hint align="start"
            ><strong>i.e. https://stackblitz.com/edit/angular-lirkte</strong>
          </mat-hint>
        </mat-form-field>
        <br />
        <br />

        <h3>Versioning</h3>
        <hr />
        <p>
          List programming language, technology and frameworks including their specific version
          numbers (please do not put "latest" as the verison number.).
        </p>
        <div formArrayName="versions">
          <div *ngFor="let version of versionForms.controls; let i = index" [formGroupName]="i">
            <mat-form-field class="xs">
              <input matInput placeholder="Technology" formControlName="technology" />
              <mat-hint align="start"><strong>i.e. Angular</strong> </mat-hint>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="xs">
              <input matInput placeholder="Version" formControlName="version" />
              <mat-hint align="start"><strong>i.e. 7.0.1</strong> </mat-hint>
            </mat-form-field>
            <br />
            <br />
            <button mat-raised-button color="warn" (click)="deleteVersion()">Delete</button> <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addVersion()">Add a Version</button>
        <br />
        <br />

        <h3>External Related Resources (Optional)</h3>
        <hr />
        <h5>Use Cases</h5>
        <p>
          A use case resource would be an article from an Airbnb employe on how the use "x" to
          further their product.
        </p>
        <div formArrayName="useCases">
          <div *ngFor="let useCase of useCaseForms.controls; let i = index" [formGroupName]="i">
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Use Case URL"
                formControlName="UseCaseUrl"
                value="i.e. https://medium.com/air-bnb/story"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteUseCase()">Delete</button> <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addUseCase()">Add a Use Case</button>
        <br />
        <br />
        <h5>Common Errors</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div formArrayName="commonErrors">
          <div
            *ngFor="let commonError of commonErrorForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Common Error URL"
                formControlName="CommonErrorUrl"
                value="i.e. https://medium.com/air-bnb/story"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteCommonError()">Delete</button>
            <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addCommonError()">
          Add a Common Error
        </button>
        <br />
        <br />
        <h5>Stackoverflow Posts</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div formArrayName="stackoverflowPosts">
          <div
            *ngFor="let stackoverflowPost of stackoverflowPostForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Stackoverflow URL"
                formControlName="StackoverflowPostUrl"
                value="i.e. https://stackoverflow.com/questions/53956000/edit-update-reactive-form-using-angular-and-firebase"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteStackoverflowPost()">
              Delete
            </button>
            <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addStackoverflowPost()">
          Add a Stackoverflow Post
        </button>
        <br />
        <br />
        <h5>Interview Questions</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div formArrayName="interviewQuestions">
          <div
            *ngFor="let interviewQuestion of interviewQuestionForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Interview Question URL"
                formControlName="InterviewQuestionUrl"
                value="i.e. https://stackoverflow.com/questions/53956000/edit-update-reactive-form-using-angular-and-firebase"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteInterviewQuestion()">
              Delete
            </button>
            <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addInterviewQuestion()">
          Add a Interview Question
        </button>

        <br />
        <br />
        <h5>Video Tutorials</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div formArrayName="videoTutorials">
          <div
            *ngFor="let videoTutorial of videoTutorialForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Video Tutorial URL"
                formControlName="VideoTutorialUrl"
                value="i.e. https://stackoverflow.com/questions/53956000/edit-update-reactive-form-using-angular-and-firebase"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteVideoTutorial()">Delete</button>
            <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addVideoTutorial()">
          Add a Video Tutorial
        </button>

        <br />
        <br />
        <h5>Written Tutorials</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div formArrayName="writtenTutorials">
          <div
            *ngFor="let writtenTutorial of writtenTutorialForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-form-field class="full">
              <input
                matInput
                placeholder="Written Tutorial URL"
                formControlName="WrittenTutorialUrl"
                value="i.e. https://alligator.io/angular/angular-material-2/"
                style="min-width:500px;width:auto;"
              />
            </mat-form-field>
            <br />
            <button mat-raised-button color="warn" (click)="deleteWrittenTutorial()">Delete</button>
            <br />
          </div>
        </div>
        <br />
        <button mat-raised-button color="primary" (click)="addWrittenTutorial()">
          Add a Written Tutorial
        </button>

        <br />
        <br />

        <hr />
        Fireform state: {{ state }} <br />
        <hr />

        <button
          mat-raised-button
          color="primary"
          [disabled]="addSnippetForm || state !== 'modified'"
        >
          Save
        </button>
      </form>
      <div *ngIf="success" class="notification is-success">Yay! Your post is live.</div>
    </div>
  </div>
</div>
